<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container mt-5">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <img th:src="${product.image}" class="img-fluid w-100" alt=""/>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <!--Content-->
                    <div class="p-4">
                        <div class="mb-3">
                            <th:block th:each="category : ${product.categories}">
                                <a href="#" class="badge badge-primary me-1">
                                    <th:block th:text="${category.name}"></th:block>
                                </a>
                            </th:block>
                        </div>

                        <h2>
                            <th:block th:text="${product.name}"></th:block>
                        </h2>

                        <p class="lead">
                            <span id="price" th:text="${product.getDisplayPrice()}"></span>
                        </p>

                        <strong><p style="font-size: 20px;">Sizes: </p></strong>

                        <div class="mb-3">
                            <th:block th:each="size : ${product.sizes}">
                                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark" th:text="${size.name}" onclick="changeSize(this)" th:disabled="${size.quantity == 0}"></button>
                            </th:block>
                        </div>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa sint voluptatibus! Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

                        <form class="d-flex justify-content-left">
                            <!-- Default input -->
                            <div class="form-outline me-1" style="width: 100px;">
                                <input type="number" value="1" class="form-control"/>
                            </div>
                            <button class="btn btn-primary ms-1" type="button" onclick="addToCart()">
                                Add to cart
                                <i class="fas fa-shopping-cart ms-1"></i>
                            </button>
                        </form>
                    </div>
                    <!--Content-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <hr/>

            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-md-6 text-center">
                    <h4 class="my-4 h4">Product Details</h4>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <th:block th:utext="${product.description}"></th:block>
        </div>
    </main>
    <!--Main layout-->

</th:block>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        let size;
        let product = /*[[${product}]]*/ 'default';

        function changeSize(element) {
            $.ajax({
                url: "/api/products/" + product.id + "/sizes",
                type: "GET",
                success: function (res) {
                    const sizes = res.data;
                    const selectedSize = sizes.find(size => size.name === element.innerText);

                    // if size out of stock disable button
                    if (selectedSize.quantity === 0) {
                        element.disabled = true;
                        // sweet alert
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Size out of stock!',
                        });
                        return;
                    }

                    // remove all primary class from another buttons
                    let buttons = document.querySelectorAll(".btn-outline-primary");
                    buttons.forEach(button => {
                        button.classList.remove("btn-outline-primary");
                        button.classList.add("btn-outline-secondary");
                    });
                    element.classList.remove("btn-outline-secondary");
                    // change class to btn-outline-primary
                    element.classList.add("btn-outline-primary");

                    // change the price
                    let price = $("#price");

                    let formatter = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND',
                    });
                    price.text(formatter.format(selectedSize.price));
                }
            });
        }

        function addToCart() {
            let quantity = $("input[type=number]").val();
            let size = $(".btn-outline-primary").text();
            let productId = product.id;

            // check size is selected
            if (size === "") {
                // sweet alert
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select size!',
                });
                return;
            }


            $.ajax({
                url: "/api/cart",
                type: "POST",
                data: {
                    id: productId,
                    size: size,
                    quantity: quantity
                },
                success: function (res) {
                    console.log(res);
                    // update badge
                    $(".badge-notification").text(res.data.totalItems);
                    // sweet alert
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: res.message,
                    });
                },
                error: function (res) {
                    console.log(res);
                    // sweet alert
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.responseJSON.message,
                    });
                }
            });
        }
    </script>
</th:block>

</body>
</html>