<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard-layout}">
<head>
    <meta charset="UTF-8">
    <title>Manage Categories</title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Section: Main chart -->
    <section class="mb-4">
        <div class="card">
            <div class="card-header py-3">
                <h5 class="mb-0 text-center">
                <!-- Title and button in one line but title in center button on the right -->
                    <div class="d-flex justify-content-between">
                        <div class="p-2 d-flex align-items-center">
                            <strong>Manage Categories</strong>
                        </div>
                        <div class="p-2">
                            <a th:href="@{/category/add}" class="btn btn-primary">Add Category</a>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="card-body p-0">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${categories.size() == 0}">
                            <tr>
                                <td colspan="2" class="text-center">No categories found</td>
                            </tr>
                        </th:block>
                        <th:block th:each="category : ${categories}">
                            <tr>
                                <td th:text="${category.name}"></td>
                                <td>
                                    <a th:href="@{/category/edit/{id}(id=${category.id})}" class="btn btn-primary btn-sm">Edit</a>
                                    <a th:href="@{/category/delete/{id}(id=${category.id})}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Section: Main chart -->
</th:block>
<th:block layout:fragment="modal"></th:block>
</body>
</html>