<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<th:block layout:fragment="content">
    <main>
        <section class="h-100 gradient-custom">
            <div class="container py-5">
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Cart</h5>
                            </div>
                            <div class="card-body p-0">
                                <table class="table align-middle mb-0 bg-white">
                                    <thead class="bg-light">
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${cart.items.isEmpty()}">
                                        <tr>
                                            <td colspan="5" class="text-center">No products found</td>
                                        </tr>
                                    </th:block>

                                    <th:block th:each="item : ${cart.items}">
                                        <tr th:attr="data-id=${item.product.id}">
                                            <td>
                                                <img th:src="${item.product.image}" class="img-fluid" style="max-width: 100px"
                                                     alt="Product image"/>
                                            </td>
                                            </td>

                                            <td>
                                                <p class="fw-bold mb-1" th:text="${item.product.name}"></p>
                                                <p class="text-muted mb-0"><b> Size: </b> <span th:text="${item.sizeObj.name}"></span></p>
                                            </td>

                                            <td th:text="${item.sizeObj.formattedPrice}"></td>

                                            <td>
                                                <input type="number" class="form-control" th:value="${item.quantity}" name="quantity" min="0">
                                            </td>

                                            <td>
                                                <a onclick="updateQuantity(this)" class="btn btn-tertiary btn-sm me-2">
                                                    <i class="fas fa-sync"></i>
                                                </a>
                                                <a onclick="deleteCartItem(this)" class="btn btn-tertiary btn-sm text-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Summary</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li
                                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        Products
                                        <span class="total" th:text="${cart.getFormattedTotalPrice}"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Shipping
                                        <span>Gratis</span>
                                    </li>
                                    <li
                                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total amount</strong>
                                            <strong>
                                                <p class="mb-0">(including VAT)</p>
                                            </strong>
                                        </div>
                                        <span><strong class="total" th:text="${cart.getFormattedTotalPrice}"></strong></span>
                                    </li>
                                </ul>

                                <a th:href="@{/checkout}" class="btn btn-primary btn-lg btn-block">
                                    Go to checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</th:block>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
/*<![CDATA[*/
        function updateQuantity(element) {
            let row = $(element).closest('tr');
            let id = row.data('id');
            let quantity = row.find('input[name="quantity"]').val();
            let size = row.find('.text-muted span').text();

            $.ajax({
                url: '/api/cart',
                method: 'PUT',
                data: {
                    id: id,
                    quantity: quantity,
                    size: size
                },
                success: function (response) {
                    console.log(response);
                    $('.total').text(response.data.totalPrice);
                },
                error: function (response) {
                    console.log(response);
                    // sweet alert
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.responseJSON.message,
                    });
                }
            });
        }

        function deleteCartItem(element) {
            let row = $(element).closest('tr');
            let id = row.data('id');
            let size = row.find('.text-muted span').text();
            let quantity = row.find('input[name="quantity"]').val();

            $.ajax({
                url: '/api/cart',
                method: 'DELETE',
                data: {
                    id: id,
                    size: size,
                    quantity: quantity
                },
                success: function (response) {
                    console.log(response);
                    row.remove();
                    $('.total').text(response.data.totalPrice);
                },
                error: function (response) {
                    console.log(response);
                    // sweet alert
                    Swal.fire({
                        title: "Error",
                        text: response.responseJSON.message,
                        icon: "error",
                        button: "Ok",
                    });
                }
            });
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>